html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Courier';
    color: rgb(224, 226, 118);
    font-size: 12pt;
    line-height: 10pt;
  }
  
  canvas {
    display: block;
  }
  #papa{
    width: 1000px;
    float: left;
  }
  #kontener{
    float: left;
  }
  #kontener2{
    float: left;
  }
  img{
    max-width: 958px;
    height: 1330px;

  }